[data-md-color-scheme="slate"] {
    /* --md-code-fg-color: #d4c166; */
    /* --md-typeset-mark-color: #f155a3; */
    --md-code-hl-color: #34ce497b;
    --md-code-hl-color--light: #2fad462d;

    --md-primary-fg-color: hsla(var(--md-hue),15%,8%,1);
    --md-accent-fg-color: #d7c416;
    --md-typeset-a-color: hsl(191, 56%, 58%) !important;

    --md-codeblock-name-color: #82b0ff;
    --background-image: url("../img/background.png")
}

[data-md-color-scheme="default"] {
    /* --md-code-fg-color: #d31775; */
    /* --md-typeset-mark-color: #145fe1; */
    --md-code-hl-color: #28a2387b;
    --md-code-hl-color--light: #2fad4634;

    --md-accent-fg-color: #f7c641;
    --md-typeset-a-color: hsl(191, 81%, 49%) !important;
        
    --md-codeblock-name-color: #3638c3;
    --background-image: url("../img/background-white.png")
}

html {
    scroll-behavior: smooth;
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}

@keyframes pulse {
    0%,to {
        transform: scale(1) rotate(0deg)
    }

    50% {
        transform: scale(1.15) rotate(10deg)
    }
}

@keyframes beating {
    0%,to {
        transform: scale(1)
    }

    50% {
        transform: scale(1.07)
    }
}

.beating {
    animation: beating 2s infinite;
}

.heart {
    color: #e92063;
    animation: heart 1000ms infinite;
}

.pulse {
    animation: pulse 2s infinite;
}

.md-typeset .pulse svg {
    fill: var(--md-accent-fg-color)
}

.md-nav__title, .md-nav__container .md-nav__link {
    font-size: 0.75rem;
}

li.md-nav__item > a {
    padding-left: 0.7rem;
}

@media only screen and (min-device-width: 1024px) {
    body {
        background-image: var(--background-image);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-attachment: fixed;
        background-size: auto 70vh;
    }
        
    body::before {
        position: fixed;
        z-index: -100;
        height: 100vh;
        width: 100vw;
        content: "";
        background: var(--md-default-bg-color);
        opacity: 0.5;
        
    }
}

[dir=ltr] .md-header__title {
    margin-left: 0.2rem;
}

.md-typeset mark {
    padding: 0 0;
}

.md-typeset table:not([class]) {
    border: none;
    box-shadow: var(--md-shadow-z2);

    tr:hover {
        background-color: rgba(0,0,0,.08);
    }

    th {
        color: var(--md-primary-bg-color);
        background-color: var(--md-primary-fg-color);
        border-bottom: .06rem solid var(--md-accent-fg-color);
    }

    td {
        border-top: .06rem solid var(--md-default-fg-color--lighter);
    }
}

.gslide-image img {
    background: #000 !important;
}

.video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}